# Astro
dist/
.astro/
node_modules/

# Hugo 残留
.hugo_build.lock
.hugo_build.cache
.hugo_bin/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*~

# Node
package-lock.json
yarn.lock
pnpm-lock.yaml

# Logs
*.log
